extends layout

block content
  h1= title
  p For detailed instructions see the #[a(href='https://github.com/JohnnyBizzel/img-abstraction-layer-jb-ps') GitHub Readme file]
  
  p This is the solution to this #[a(href='https://www.freecodecamp.com/challenges/image-search-abstraction-layer') Image Search API Free Code Camp Challenge]
    
  
